<!-- Use the Embedded JS template to create a dynamic homepage depending if the day is a weekday or a weekend -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First EJS</title>
  </head>
  <body>
    <h1>Hello it's <%= dayType %>, <%= advice%>!</h1>
  </body>
</html>
